body{
    display: grid;
   background-color: #fff; /*rgb(179, 201, 221);
  /* background:
        radial-gradient(circle farthest-side at 0% 50%,#463c3a 23.5%,rgba(240,166,17,0) 0)21px 30px,
        radial-gradient(circle farthest-side at 0% 50%,#fffffe1a 24%,rgba(240,166,17,0) 0)19px 30px,
        linear-gradient(#463c3a 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#463c3a 0)0 0,
        linear-gradient(150deg,#463c3a 24%,#fffffe1a 0,#fffffe1a 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#fffffe1a 0,#fffffe1a 76%,#463c3a 0)0 0,
        linear-gradient(30deg,#463c3a 24%,#fffffe1a 0,#fffffe1a 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#fffffe1a 0,#fffffe1a 76%,#463c3a 0)0 0,
        linear-gradient(90deg,#fffffe1a 2%,#463c3a 0,#463c3a 98%,#fffffe1a 0%)0 0 #463c3a;
    background-size: 40px 60px; */
    font-family: 'Helvetica Neue'; /*'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
   
    color: rgba(116, 106, 100); /* color: rgb(179, 201, 221); /* #FFFFFF;*/
}
/* thanks to Paul Salentiny for the majority of the hexagonal background css ^^ */

div.h1h2 {
   /* border: .5mm solid  rgba(116, 106, 100); */
    border-top: .5mm solid  rgba(116, 106, 100);
    border-bottom: .5mm solid  rgba(116, 106, 100);
    /*box-shadow: 1px 1px 20px 1px rgb(116, 106, 100, 0.1); 
    /*background-color: rgb(179, 201, 221);   */
    max-width: 75%;
    padding: 0% 2% 2% 2%;
    margin: auto;
    margin-top: 3%;
}

h1 {
    text-align: center;
    font-weight: 300;
    font-size: 32pt;
    font-family: "Monaco", sans-serif;
    color: rgba(116, 106, 100);
}

h2 {
    text-align: center;
    font-weight: 200;
    font-size: 12pt;
    color: rgba(116, 106, 100); /*
    color: rgb(179, 201, 221); /*#fff; */
}

h3 {
    text-align: center;
    font-weight: 500;
    font-size: 18pt;
    max-width: 75%;
    margin: auto;
    color: #fff;
}

div.grid{
    display: grid;
    text-align: center;
    height: 90%;
    column-gap: 6.5%;
    row-gap: 3%;
    grid-template-columns: 29% 29% 29%;
    padding: 0%;
    margin: 1% 4%;
}

 #cell {
    font-family: "Monaco", sans-serif;
    font-size: small;
    font-weight: 300;
    font-family: 'Helvetica Neue';
    padding-top: 0%; 
    align-content: center;
    overflow: hidden;
    padding-bottom: 40%;
    border: .5mm solid  rgba(116, 106, 100);
    box-shadow: 0px 0px 20px 1px  rgb(116, 106, 100, 0.1); 
} 

#gill{
    font-family: "Monaco", sans-serif;
    font-size: small;
    color: rgba(116, 106, 100);
    max-width: 95%;
    margin: auto;
}

img { 
    width:80%; 
    box-shadow: 1px 1px 20px 1px rgba(116, 106, 100, 0.1);
    border: .5mm solid  rgba(116, 106, 100, 0.5);
    
} 

.about {
    margin: auto;
    width: 80%; 
    box-shadow: none; 
    font-weight: 200;
    font-size: 12pt;
    text-align: justify;
}

img.about {
    margin: auto;
    width: 100%; 
    box-shadow: none;
    border: 0.1em solid #fff;
}

div.about {
    background-color: #463c3a ;
    margin: auto;
    width: 78%;
    padding: 1%;
    border: .5mm solid #fff ;
}

footer {
    text-align: center;
    padding: 2% 3% 2% 3%;
    font-family: 'Monaco';
    border-top: .5mm solid  rgba(116, 106, 100);
    border-bottom: .5mm solid  rgba(116, 106, 100);
    max-width: 75%;
    margin: auto;
}

a:link {
    color: rgb(51, 53, 85);
    background-color: transparent;
    text-decoration: none;
    font-weight: 400;
  }
  
  a:visited {
    color: rgb(51, 53, 85);
    background-color: transparent;
    text-decoration: none;
  }