/* 2022 web update, linked to index.html */

body{
    display: grid;
    background-color: white; /*rgb(51, 53, 85); /*rgb(243, 243, 246);*/
    font-family: 'Helvetica Neue';
    /*color: rgba(116, 106, 100); /*rgb(51,53,85);*/
    color: rgb(77, 70, 66);
}
html {
    overflow: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in white */
  ::-webkit-scrollbar-thumb {
    background: #fff;
  }
  ::-webkit-scrollbar-corner {
    background-color: rgb(208, 209, 215);; 
   }
  
  div.h1h2 {
      /* border-bottom: .5mm solid  rgba(116, 106, 100); */
      max-width: 75%;
      padding: 0% 2% 0% 2%;
      margin: auto;
      margin-top: 3%;
      display: contents;
      text-align: center;

  }

  .h1h2 img{
    width: 50vw;
    height: 12vh;
    margin: auto;
    margin-top: 10vh;
  }

  #my-name{ 
    box-shadow: none;
    border: none;
  } 

  #subhead{
    margin: 5vh 10vh 5vh 10vh;
    justify-self: center;
    transform: scale(.6);
  }
  #subhead-writing{
    margin-top: 5vh;
    margin-bottom: 5vh;
    transform: scale(.8);

  }
  #subhead-art{
    margin-top: 5vh;
    margin-bottom: 5vh;
    transform: scale(.8);
  }
  /* .subhead-grid{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  } */

/* Style the header with padding */
.header {
    overflow: hidden;
    padding: 10px 10px;
    margin: auto;
    font-family: monaco;
    width: inherit;
    border-bottom: .5mm solid  rgba(116, 106, 100);
  }
  
  /* Style the header links */
.header a {
    float: center;
    color:rgba(116, 106, 100);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: .75rem; /*12px;*/
    line-height: 10px;
    border-radius: 2px;
  }

footer {
    text-align: center;
    padding: 2% 3% 2% 3%;
    font-family: 'Monaco';
  /*  border-top: .5mm solid  rgb(51,53,85);
    border-bottom: .5mm solid  rgb(51,53,85);*/
    max-width: 80%;
    margin: auto;
    margin-top: 10px; 
    height: 30px;
}

/* Style homepage grid */

.grid{
  display: grid;
  text-align: center;
  height: 30vh;
  /* min-height: calc(100vh - 100px); */
  column-gap: 20%;
  row-gap: 10%;
  grid-template-columns: .9fr 1fr 1.3fr; /*repeat(auto-fill, minmax(min(10rem, 100%), 1fr));    */
  grid-template-areas: "writing dataviz design";
  padding: 0% 8% 0% 15%;
  margin: 8% 4% 8% 4%;
}
.cell {
  height: 50vh;
}

img.text{
  opacity: .25;
}

.text:hover {
  opacity: 1;
  transition: ease-in-out .75s;
}

div.artdesign.text {
  padding: 0% 32% 0% 16%;
}

/* style icons on hover */
.fab:hover, .fas:hover {
  color: pink
  }

a:link {
    color: rgba(116, 106, 100);
    background-color: transparent;
    text-decoration: none;
    font-weight: 400;
  }
  
  a:visited {
    color:rgba(116, 106, 100);
    background-color: transparent;
    text-decoration: none;
  }


  /* data viz page */

  div.viz-grid{
    display: grid;
    text-align: center;
    height: 100%;
    min-height: calc(100vh - 100px);
    column-gap: 4.5%;
    row-gap: 2%;
    grid-template-columns: repeat(auto-fill, minmax(min(18rem, 100%), 1fr));    
    padding: 0%;
    margin: 1% 4%;
    opacity: 1.0;
}

.viz-grid:hover > div{
opacity: 0.5;
transition: all 0.5s ease;

}
.viz-grid:hover > div:hover{
  opacity: 1;
  transition: all 0.5s ease;

  }

.viz-grid:hover > a{
    opacity: 0.5;
    transition: all 0.5s ease;

    }
.viz-grid:hover > a:hover{
      opacity: 1;
      transition: all 0.5s ease;

      }

#cell {
  /*background-color: rgb(248, 239, 239); /* rgb(252, 203, 211, .5); this is grayed out except on hover*/
  transition: all 0.5s ease;
  height: 75%;
  min-width: 200px;
  font-size: small;
  font-family: "Roboto Slab", sans-serif; 
  font-weight: 300;
  color: rgb(77, 70, 66); 
  padding-top: 0%; 
  align-content: center;
  overflow: hidden;
  padding-bottom: 18%;
  background-color: rgb(250, 242, 226);
  background-image: url("./images/container-box-skinny-2.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin: 3%;
  /* background-color: white; */
  /* box-shadow: 0 0 0 10px  rgb(252, 203, 211); /* cardboard: rgb(167,144,117); dark gray: rgb(116, 106, 100, 1); */
  /* filter: blur(1px); /* IE6-9 */
  /* -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ * */
  /*filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  /*opacity: 0.5; */
} 

#gill{  /* header in cell */
font-family: "Roboto Slab", sans-serif; 
font-weight: 400;
color: rgb(77, 70, 66); 
font-size: small;
max-width: 95%;
margin: auto;
padding-left: 5%;
padding-right: 5%;
} 

#cell-bottom{
padding-left: 5%;
padding-right: 5%;
font-weight: 200;
color: rgb(43, 39, 37);
}

/* Disable blur on hover */
#cell:hover {
/* -webkit-filter: grayscale(0); */
/* filter: none; */
/* opacity: 1; */
/* transition: opacity 2s ease; */
/* animation: blur 1s linear forwards; */
}

#cell:not(:hover) {
  /* -webkit-filter: grayscale(0); */
  /* filter: none; */
  /* transition: opacity 2s ease; */
  /* animation: blur 1s linear forwards; */
  /* background-color: white; */
  /* box-shadow: 0 0 0 10px  rgb(252, 203, 211); /* cardboard: rgb(167,144,117); dark gray: rgb(116, 106, 100, 1); */
  /* filter: blur(1px); IE6-9 */
  /* -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ * */
  /*filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  /* opacity: 0.5;  */
  }

/* format images */
img.dataviz { 
  width: 80%; 
  box-shadow: 1px 1px 20px 1px rgba(116, 106, 100, 0.1);
  border: .5mm solid black ;
} 




/* format about page */
.about {
  margin: auto;
  width: 80%; 
  box-shadow: none; 
  font-weight: 200;
  font-size:  12pt; 
  text-align: justify;
  font-family: "Roboto Slab", sans-serif; 
  font-weight: 300;
}

img.about {
  margin: auto;
  width: 99.5%; 
  box-shadow: none;
  border: 0.1em solid #fff;
}

/* img.about.vertical {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: none;
  border: 0.1em solid #fff;
} */

div.about {
  margin: auto;
  width: 78%;
  padding: 1%;
  border: .5mm solid #fff ;
  background-color: #fff;
}
div.about.vertical {
width: 50%;
display: block;
margin-left: auto;
margin-right: auto;
box-shadow: none;
border: 0.1em solid #fff;
}

#intro{
background-color: #fff;
line-height: 1.4;
}

footer {
  text-align: center;
  padding: 2% 3% 2% 3%;
  font-family: 'Monaco';
/*  border-top: .5mm solid  rgb(51,53,85);
  border-bottom: .5mm solid  rgb(51,53,85);*/
  max-width: 80%;
  margin: auto;
  margin-top: 100px; 
  height: 30px;
}
