body{
    display: grid;
    background-color: #fff;
    font-family: 'Helvetica Neue';
    color: rgba(116, 106, 100);
}

div.h1h2 {
    border-top: .5mm solid  rgba(116, 106, 100);
    border-bottom: .5mm solid  rgba(116, 106, 100);
    max-width: 75%;
    padding: 0% 2% 2% 2%;
    margin: auto;
    margin-top: 3%;
}

h1 {
    text-align: center;
    font-weight: 300;
    font-size: 32pt;
    font-family: "Monaco", sans-serif;
    color: rgba(116, 106, 100);
}

h2 {
    text-align: center;
    font-weight: 200;
    font-size: 12pt;
    color: rgba(116, 106, 100); 
}

h3 {
    text-align: center;
    font-weight: 500;
    font-size: 18pt;
    max-width: 75%;
    margin: auto;
    color: #fff;
}

div.grid{
    display: grid;
    text-align: center;
    height: 90%;
    column-gap: 6.5%;
    row-gap: 3%;
    grid-template-columns: 29% 29% 29%;
    padding: 0%;
    margin: 1% 4%;
}

 #cell {
    font-family: "Monaco", sans-serif;
    font-size: small;
    font-weight: 300;
    font-family: 'Helvetica Neue';
    padding-top: 0%; 
    align-content: center;
    overflow: hidden;
    padding-bottom: 40%;
    border: .5mm solid  rgba(116, 106, 100);
    box-shadow: 0px 0px 20px 1px  rgb(116, 106, 100, 0.1); 
} 

#gill{
    font-family: "Monaco", sans-serif;
    font-size: small;
    color: rgba(116, 106, 100);
    max-width: 95%;
    margin: auto;
}

img { 
    width:80%; 
    box-shadow: 1px 1px 20px 1px rgba(116, 106, 100, 0.1);
    border: .5mm solid  rgba(116, 106, 100, 0.5);
} 

.about {
    margin: auto;
    width: 80%; 
    box-shadow: none; 
    font-weight: 200;
    font-size: 12pt;
    text-align: justify;
}

img.about {
    margin: auto;
    width: 100%; 
    box-shadow: none;
    border: 0.1em solid #fff;
}

div.about {
    margin: auto;
    width: 78%;
    padding: 1%;
    border: .5mm solid #fff ;
}

footer {
    text-align: center;
    padding: 2% 3% 2% 3%;
    font-family: 'Monaco';
    border-top: .5mm solid  rgba(116, 106, 100);
    border-bottom: .5mm solid  rgba(116, 106, 100);
    max-width: 80%;
    margin: auto;
}

a:link {
    color: rgb(51, 53, 85);
    background-color: transparent;
    text-decoration: none;
    font-weight: 400;
  }
  
  a:visited {
    color: rgb(51, 53, 85);
    background-color: transparent;
    text-decoration: none;
  }